/* one blue color
  one white color
*/
:root {
  --blue: #219ebc;
  --light-blue: #e1f1ff;
  --white: #ecebe4;
}
html {
  font-size: 10px;
}
body {
  background-color: var(--blue);
  height: 100%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: var(--white);
  text-transform: uppercasew;
  width: 60%;
  padding: 3%;
  column-gap: 8%;
  border-radius: 1.8%;
}
main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
main h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5rem;
}
.pricing-img {
  max-width: 100%;
  margin-bottom: 20%;
}
.pricing-features li {
  font-family: "IBM Plex Serif", serif;
  font-size: 1.5rem;
}
footer {
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.pricing-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid var(--blue);
}
.wrap:last-child {
  border-right: none;
}
.pricing-price {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2rem;
}
