/* one blue color
  one white color
*/
:root {
  --bg-blue: #60a9ff;
  --blue: #219ebc;
  --light-blue: #e1f1ff;
  --white: #ecebe4;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--bg-blue);
  font-size: 1.6rem;
  height: 100%;
}
main {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 100rem;
  background-color: var(--light-blue);
  border-radius: 3rem;
  text-transform: uppercase;
  /* gap: 1.5rem; */
  padding: 8rem 0;
}
.pricing-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem; */
  row-gap: 2rem;
  border-right: 0.15rem solid var(--blue);
  text-align: center;
}
.pricing-table:nth-child(2) {
  padding-left: 2rem;
  padding-right: 2rem;
}
.pricing-table:last-child {
  border-right: none;
}
.pricing-header {
  font-family: "IBM Plex Serif", serif;
  font-size: 2.5rem;
}
.pricing-img {
  max-width: 30%;
  /* flex-shrink: 3; */
}
.pricing-features {
  font-family: "IBM Plex Sans", sans-serif;
  list-style-type: none;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  text-align: center;
}
.pricing-features-item {
  border-top: 0.1rem solid var(--blue);
  padding: 1.5rem 0;
  line-height: 1.5;
}
.pricing-features-item:last-child {
  border-bottom: 0.1rem solid var(--blue);
}
.pricing-price {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 2rem;
}
.pricing-button {
  font-family: "IBM Plex Sans Condensed", sans-serif;
  font-size: 2rem;
  text-decoration: none;
  border: 0.1rem solid var(--blue);
  padding: 1rem 3rem;
  border-radius: 1.5rem;
  transition: background-color 200ms ease-in-out;
  margin-top: 1rem;
}
.pricing-button:hover {
  background-color: var(--blue);
}
footer {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.attribution {
  font-family: "IBM Plex Serif", serif;
  font-size: 1rem;
}
@media screen and (max-width: 63em) {
  /* TODO: Responsive typography */
  main {
    height: auto;
    margin-bottom: 1rem;
  }
  footer {
    height: auto;
  }
  .panel {
    flex-direction: column;
    border-radius: 1.5rem;
    max-width: 80%;
    padding: 2rem 0;
  }
  .pricing-table {
    padding: 3.5rem 0;
    border-right: none;
  }
  .pricing-table:nth-child(2) {
    padding: 0;
  }
  .pricing-features {
    width: 100%;
  }
  footer {
    align-items: center;
  }
}
